
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,600;1,800&family=Poppins:wght@400;700&display=swap');
*{
padding: 0;
margin: 0;
font-family: "karla", sans-serif;
box-sizing: border-box;
}
body{
  max-width: 550px;
margin: auto;
}
nav{
  display: flex;
  background-color: #672280;
  height: 65px;
  padding: 5px;
  align-items: center;
}

.nav-secTitle{
  color: white;
  margin-left: auto;
  font-size: .9rem;
  font-weight: 600px; ;
}

main{
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form-input{
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form-button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme-img{
  max-width: 100% ;
}

